*{
  margin: 0;
  padding: 0;
}
body {
  padding: 20px;
  font: 14px "microsoft yahei","Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

li{
  list-style: none;
  font-size: 16px;
  font-style: italic;
}
